@model BugTracker.Models.Project;

<div class="sidenav">
    <div class="sidenav-content">
        <section class="project-info-section" style="margin-bottom: 24px">
            <div class="project-icon">@Model.Title.FirstOrDefault()</div>
            <div>
                <h3>@Model.Title</h3>
                <span style="font-size: 13px; font-weight: 400; color: #6B778C;">@Model.Type</span>
            </div>
        </section>
        <section class="project-info-section" style="margin-bottom: 40px;">
            <div class="project-icon" style="background-color: #1B55C5">D</div>
            <div>
                <h3>Developer</h3>
                <span style="font-size: 13px; font-weight: 400; color: #6B778C;">Your role in this project</span>
            </div>
        </section>
        <hr />
        <div class="sidenav-button-section" style="margin-top: 10px;">
            <a class="btn-sidenav" asp-controller="Ticket" asp-action="Index" asp-route-id="@Model.Id">
                <i class="fas fa-pager"></i>Tickets
            </a>
            <a class="btn-sidenav" asp-controller="Project" asp-action="Users" asp-route-id="@Model.Id">
                <i class="fas fa-user-friends"></i>Manage Users
            </a>
            <a class="btn-sidenav" asp-controller="Project" asp-action="Settings" asp-route-id="@Model.Id">
                <i class="fas fa-cog"></i>Project Settings
            </a>
        </div>
        <hr />
        <div class="sidenav-button-section" style="margin-top: 10px;">
            <a class="btn-sidenav" asp-controller="Home" asp-action="Index">
                <i class="fas fa-arrow-alt-circle-left"></i>Projects
            </a>
        </div>
    </div>
</div>