@model BugTracker.Models.ViewModels.ProjectUsersVM;

<div class="project-main">
    <partial name="_SideNav" model="@Model.UserProject" />

    <div class="project-body">
        <div id="modalPlaceholder"></div>

        <h1>Users</h1>

        <section style="display: flex; align-content: center; justify-content: space-between; margin: 30px 0 50px">

            @*Filters*@
            <form method="get" class="user-filters-container">
                @Html.Hidden("projectId", Model.UserProject.ProjectId)
                <div class="text-input-small user-search">
                    @Html.Editor("userfilter", new { HtmlAttributes = new { @class = "invisible-input", @placeholder = "Search for names or email addresses" } })
                    <i class="fas fa-search"></i>
                </div>

                <div class="custom-select">
                    @Html.DropDownList("rolefilter", Model.ProjectRoles, "Roles", new { @class = "resizing_select user-search-dropdown" })
                    <select id="width_tmp_select">
                        <option id="width_tmp_option"></option>
                    </select>
                    <span class="custom-arrow"><i class="fas fa-chevron-down"></i></span>
                </div>

                <button type="submit" class="btn-filter" style="margin-left: 12px;">Search</button>
            </form>

            @*Modal button*@
            @if (Model.CanEditUsers)
            {
                <button style="padding: 7px 18px;" asp-route-id="@Model.UserProject.ProjectId"
                        data-toggle="ajax-modal" data-target="#selectUser" data-url="@Url.Action("Select")?id=@Model.UserProject.ProjectId&canEdit=@Model.CanEditUsers">
                    Add user
                </button>
            }

        </section>

        @*User Table*@
        <section>
            <ejs-grid id="tblUserProject" dataSource="@Model.UserProjects" allowFiltering="true" allowSorting="true" allowPaging="true">
                <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="UserId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                    <e-grid-column field="User.FullName" headerText="Name"></e-grid-column>
                    <e-grid-column field="User.Email" headerText="Email"></e-grid-column>
                    <e-grid-column field="ProjectRole.Name" headerText="Role"></e-grid-column>
                    @if (Model.CanEditUsers)
                    {
                        <e-grid-column field="UserId" headerText="" width="100" textAlign="Center" allowSorting="false" allowFiltering="false"
                                       template="<a class='btn-table-edit' href='/Project/EditUserRole?userId=${UserId}&projectId=${ProjectId}&canEdit=@Model.CanEditUsers'><i class='fas fa-edit'></i></a>"></e-grid-column>
                    }
                </e-grid-columns>
            </ejs-grid>
        </section>
    </div>

</div>

@section Scripts{
    <script src="@Url.Content("~/js/select-userproject-modal.js")"></script>

    <script>$(document).ready(function () {
            $('#rolefilter').change(function () {
                $("#width_tmp_option").html($('#rolefilter option:selected').text());
                $(this).width($("#width_tmp_select").width() - 25);
            });
        });</script>
}