@model List<BugTracker.Models.UserProject>

@{
    ViewData["Title"] = "Home Page";
}

<div class="projects-container">
    <section class="container" style="width: 100%;">
        <header id="your-projects-card" class="card">
            <h1>Your Projects</h1>
            <a class="btn" id="create-project" asp-action="Create">Create project</a>
        </header>
        <div class="projects-grid">
            @{
                foreach (var obj in Model)
                {
                    var project = obj.Project;
                    <a id="@obj.UserId + @obj.ProjectId" style="color: #162643" asp-controller="Ticket" asp-action="Index"
                       asp-route-projectId="@obj.ProjectId">
                        <card class="card project-card">
                            <div class="project-info">
                                <h2>@project.Title</h2>
                                <h4>@project.Type</h4>
                            </div>
                            <h5 style="text-align: right;">@project.CreatedAt.ToShortDateString()</h5>
                        </card>
                    </a>
                }
            }
        </div>
    </section>
</div>
