@model BugTracker.Models.ViewModels.EditTicketVM;

@using Microsoft.AspNetCore.Identity
@using BugTracker.Core

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<div class="ticket-section">
    <form id="attachmentsForm" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;"
          asp-route-projectId="@Model.UserProject.ProjectId" asp-route-ticketId="@Model.Ticket.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-action="UploadFile">
        <h6 style="margin: 0;">Attachments</h6>
        <label for="upload" id="upload-btn">
            <i class="fas fa-plus"></i>
        </label>
        <input id="upload" name="upload" type="file" hidden />
    </form>
    <table id="tblAttachments">
        <tr class="header-row">
            <th>Name</th>
            <th>Size</th>
            <th>Date added</th>
            <th></th>
        </tr>
        @if (Model.Attachments.Count() == 0)
        {
            <tr class="empty-row">
                <td>No records to display</td>
            </tr>
        }
        else
        {
            @foreach (var a in Model.Attachments)
            {
                <tr>
                    <td>@a.File</td>
                    <td>@HelperFunctions.BytesToString(a.Size)</td>
                    <td>@a.CreatedAt.ToString("d MMM yyyy hh:mm tt")</td>
                    <td class="actions-td">
                        <form method="post" title="Delete" asp-action="DeleteAttachment" asp-route-userId="@UserManager.GetUserId(User)"
                              asp-route-projectId="@Model.UserProject.ProjectId" asp-route-ticketId="@Model.Ticket.Id" asp-route-attachmentId="@a.Id">
                            <button type="submit" onclick="return confirm('Are you sure you want to remove this attachment?')" class="grid-btn"><i class="fas fa-trash"></i></button>
                        </form>
                        <a class="grid-btn" style="margin-left: 10px; padding: 11px 18px;" href="/Ticket/DownloadFile?attachmentId=@a.Id" title="Download"><i class="fas fa-cloud-download-alt"></i></a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<script>const input = document.getElementById("upload");

    input.addEventListener("change", () => {
        $("#attachmentsForm").submit();
    });</script>