@model BugTracker.Models.ViewModels.EditTicketVM;

@using Microsoft.AspNetCore.Identity
@using BugTracker.Core

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<div class="project-main">
    <partial name="_SideNav" model="@Model.Project" />
    <div class="project-body">
        <div id="modalPlaceholder"></div>

        <div style="max-width: 25%;">
            <a asp-controller="Ticket" asp-action="Index" asp-route-id="@Model.Project.Id"><h5 style="margin-bottom: 10px;"><i class="fas fa-arrow-alt-circle-left"></i> Back to tickets</h5></a>
        </div>

        <input id="inputTicketId" asp-for="Ticket.Id" hidden value="@Model.Ticket.Id" />
        <input id="inputProjectId" asp-for="Ticket.ProjectId" hidden value="@Model.Ticket.ProjectId" />
        <input id="currentUserId" hidden value="@UserManager.GetUserId(User)" />
        <div id="ticket-details-container">

            <section id="col-left">
                @*Title*@
                <header class="ticket-header">
                    <div style="width: 100%;">
                        @*TODO: Make this a textarea*@
                        <input id="inputTitle" asp-for="Ticket.Title" class="text-input-ticket" style="font-size: 22px; font-weight: 600; width: 100%;" placeholder="Title" />
                        @*<textarea asp-for="Ticket.Title" type="text" id="titleText"
                            class="auto-resize-textarea text-input-ticket" style="font-size: 22px; font-weight: 600; width: 100%;" placeholder="Title"></textarea>*@
                        <span asp-validation-for="Ticket.Title" class="text-error"></span>
                    </div>
                    <button id="saveBtn" type="button" class="save-changes-button">Save Changes</button>
                </header>

                @*Description*@
                <div class="ticket-section">
                    <h6 style="margin-bottom: 8px;">Description</h6>
                    <textarea rows="12" id="inputDescription" asp-for="Ticket.Description" class="text-input-ticket" placeholder="Write a description for the project..."></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-error"></span>
                </div>

                @*Attachments*@
                <partial name="EditTicketPage/_AttachmentsSection" />

                @*Comments*@
                <partial name="EditTicketPage/_CommentsSection" />

            </section>

            <section id="col-right">

                @*Details*@
                <partial name="EditTicketPage/_DetailsSection" />

                @*Timeline*@
                <partial name="EditTicketPage/_TimelineSection" />

                <section class="danger-zone-container">
                    <div class="danger-zone-item">
                        <p>
                            <b>Delete this ticket</b><br />
                            Once you delete a ticket, there is no going back. Please be certain.
                        </p>
                        <form method="post" asp-action="DeleteTicket"
                              asp-route-ticketId="@Model.Ticket.Id" asp-route-projectId="@Model.Project.Id">
                            <button type="submit" style="white-space: nowrap;"
                                    onclick="return confirm('Are you sure you want to remove this ticket?')">
                                Delete ticket
                            </button>
                        </form>
                    </div>
                </section>

            </section>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="@Url.Content("~/js/editTicketPage/ticket-details-page.js")"></script>
    <script src="@Url.Content("~/js/editTicketPage/ticket-modal.js")"></script>
    <script src="@Url.Content("~/js/editTicketPage/get-ticket-data.js")"></script>
    <script src="@Url.Content("~/js/editTicketPage/ticket-comments.js")"></script>

    <script type="text/javascript">
        function getToken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
         }
    </script>

    <script>const input = document.getElementById("upload");

        const saveBtn = document.getElementById("saveBtn");
        saveBtn.addEventListener("click", () => {
            $.ajax({
                url: "/Ticket/Edit",
                type: "POST",
                data: {
                    ...getTicketData(),
                    __RequestVerificationToken: getToken()
                },
                success: function (response) {
                    window.location.href = response.redirectToUrl;
                }
            });
        });

        input.addEventListener("change", () => {
            $("#attachmentsForm").submit();
        });</script>
}